{% extends "base.html" %}
{% block nav %}
<nav class="navbar" style="color:black;">
    <div class="max-width">
     <ul class="menu">
         <li class="logo">Airline Reservation</li>
         <li><a href="{% url 'home' %}" class="menu-btn"><i class="fas fa-home"></i>&nbsp; Home</a></li>
         <li><a href="{% url 'search' %}" class="menu-btn"><i class="fas fa-search"></i>&nbsp; Search Flights</a></li>
         
         <li><a href="{% url 'feedb' %}" class="menu-btn">Feedback</a></li>
         <li><a href="{% url 'logout' %}" class="menu-btn">Logout</a></li>
         <li><a href="/profi/{{request.session.id}}" class="menu-btnl"><i class="fas fa-user"></i>&nbsp;{{request.session.email}}</a></li>
     </ul>
    </div>
</nav>
{% endblock nav %}
{% block content %}
    {%if obj.seats__sum >= fly.seat %}
    <div class="center" style = "width: 300px;
    height: 40px; margin-top: 300px; background-color:rgb(249, 43, 50)">
    <h3>Seats are not left for Booking!</h3>
    {% else %}
    <div class="center" style="width: 360px;
    height: 1200px; margin-top: 100px;">
    <!-- <h3>Out of {{fly.seat}} seats already {{obj.seats__sum}} seats are booked!!</h3> -->
    <h2>Booking</h2>
    <form class="formf" method="POST" style="height: 100%";>
        {% csrf_token %}
        <label>UserId</label><br>
        <input type="text" name="eid_id" value="{{request.session.id}}" readonly><br>
        <label>F_Id</label><br>
        <input type="text" name="fid_id" value="{{fly.id}}" readonly><br>
        <label>Name</label><br>
        <input type="text" name="name" required><br>
        <label>Email</label><br>
        <input type="email" name="email" value="{{request.session.email}}" readonly><br>
        <label>Source</label>
        <br>
        <input type="text" name="sour" value="{{fly.sour}}" readonly>
        <label>Destination</label>
        <br>
        <input type="text" name="dest" value="{{fly.dest}}" readonly>
        <label>Price in Rs.</label><br>
        <input type="text" name="price" value="{{fly.price}}"  readonly>
        <label>Seats</label><br>
        <input type="number" name="seats">
        <label>Date</label><br>
        <input type="date" name="date" required><br>
        <label>Payment Option</label><br>
        <label for="101">
        <input type="radio" name="pay" value="UPI" id="101">UPI</label>
        <label for="102">
        <input type="radio" name="pay" value="Card" id="102">Card</label><br>
		<input type="submit" name="submit" value="Submit" class="btn brand z-depth-0">
        <!-- <i style="font-size: 18px;"> If you are already a Member <a href="{% url 'login' %}" style="color: blue;">login</a>here<i> -->
    </form>
    {% endif %} 
        </div>
{% endblock content %}

