{% extends "base.html" %}


{% block nav %}
 {% if request.session.email %}
 <nav class="navbar" style="color:black;">
    <div class="max-width">
     <ul class="menu">
         <li class="logo">Airline Reservation</li>
         <li><a href="{% url 'home' %}" class="menu-btn"><i class="fas fa-home"></i>&nbsp; Home</a></li>
         <li><a href="{% url 'search' %}" class="menu-btn"><i class="fas fa-search"></i>&nbsp; Search Flights</a></li>
         <li><a href="{% url 'feedb' %}" class="menu-btn">Feedback</a></li>
         <li><a href="{% url 'logout' %}" class="menu-btn">Logout</a></li>
         <li><a href="/profi/{{request.session.id}}" class="menu-btn"><i class="fas fa-user"></i>&nbsp;{{request.session.email}}</a></li>
     </ul>
    </div>
   </nav>
   {% else %}
      <nav class="navbar" style="color:black;">
        <div class="max-width">
            <ul class="menu">
                <li class="logo">The Best Airline Reservation</li>
                <li><a href="{% url 'home' %}" class="menu-btn"><i class="fas fa-home"></i>&nbsp; Home</a></li>
                <li><a href="{% url 'sign' %}" class="menu-btn">Signup</a></li>
                <li><a href="{% url 'login' %}" class="menu-btn">Login</a></li>
                <li><a href="{% url 'adminl' %}" class="menu-btn">Admin Login</a></li>
            </ul>
        </div>
    </nav>
 {% endif %}
 {% endblock nav %}





