{% extends "base.html" %}
{% block nav %}
<nav class="navbar" style="color:black;">
    <div class="max-width">
     <ul class="menu">
         <li class="logo">Airline Reservation</li>
         <li><a href="{% url 'home' %}" class="menu-btn"><i class="fas fa-home"></i>&nbsp; Home</a></li>
         <li><a href="{% url 'search' %}" class="menu-btn"><i class="fas fa-search"></i>&nbsp; Search Flights</a></li>
         <li><a href="{% url 'feedb' %}" class="menu-btn">Feedback</a></li>
         <li><a href="{% url 'logout' %}" class="menu-btn">Logout</a></li>
         <li><a href="/profi/{{request.session.id}}" class="menu-btn"><i class="fas fa-user"></i>&nbsp;{{request.session.email}}</a></li>
     </ul>
    </div>
   </nav>
{% endblock nav %}
{% block content %}
    <div class="center" style = "width: 360px;
    height: 800px;  margin-top: 100px;">
    <h2>Update Profile</h2>
    <form class="formf" method="POST" action="/upda/{{dataa.id}}/">
        {% csrf_token %}
        <label>Id</label><br>
        <input type="text" name="id" value="{{dataa.id}}" readonly><br>
        
        <label>Name</label><br>
        <input type="text" name="name" value="{{dataa.name}}"><br>
        
        <label>Password</label><br>
        <input type="password" name="password" value="{{dataa.password}}"><br>
        
        <label>Email</label><br>
        <input type="email" name="email" value="{{dataa.email}}" readonly><br>
        
        <label>Gender</label><br>
        <label for="101">
        <input type="radio" name="gender" value="Male" id="101" required>Male</label>
        <label for="102">
        <input type="radio" name="gender" value="Female" id="102" required>Female</label>
        <label for="103">
        <input type="radio" name="gender" value="Other" id="103" required>Other
        </label><br><br>
        <label>DOB</label><br>
        <input type="date" name="date" value="{{dataa.date}}" required><br>
        <label>Phone Number</label><br>
        <input type="text" name="phno" pattern="[0-9]{10}" value="{{dataa.phno}}">

        <input type="submit" name="submit" value="Update" class="btn brand z-depth-0">
    </form>
    </div>
    {% endblock content %}
